// colors
$blue-primary: #006efb;
$blue-secondary: #005ae6;
$gray-background: #efefef;
$gray-primary: #d8d8d8;
$green-primary: #8EE000;
$green-secondary: #7AC70C;
$red-primary: #D0021B;
$red-secondary: #970213;
$text-primary: #222;
$text-muted: #9B9B9B;

// other
$avatar-size: 40px;
$border-radius: 15px;
$padding-main: 40px;
$padding-half: 20px;