.tripIndexItem {
  @include box-shadow;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 1%;
  color: white;

  .tripIndexItem-relativeDates {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

.tripIndexItem-title {
  font-size: 36px;
  font-weight: 700;
  color: white;
  padding: 100px 0;
  text-align: center;
  text-shadow: 0 0 10px black;
}

.tripIndexItem {
  background: white;
  background-size: cover;
}

.tripIndexItem-header {
  padding: 20px;
}

.tripIndexItem-footer {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 20px;
}