.tripIndexItem {
  @include box-shadow;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 1%;
  color: white;

  .tripIndexItem-relativeDates {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .tripDaysUntil {
    @include badge;
    margin-right: 5px;
  }

  .tripDuration {
    @include badge;
  }

  .tripLocation {
    @include badge;
    margin-bottom: 0;
  }

  .tripLeader {
    position: absolute;
    right: 20px;
    bottom: 20px;
    height: 30px;
    width: 30px;
    background: white;
    border-radius: 50%;
  }

  .tripDateRange {
    @include badge;
  }

  .tripAttendees {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }

  .tripAttendee {
    height: 30px;
    width: 30px;
    display: inline-block;
    background: #ddd;
    border: 3px solid white;
    border-radius: 50%;
    margin-left: -15px;
  }
}

.tripIndexItem-title {
  font-size: 36px;
  font-weight: 700;
  color: white;
  padding: 100px 0;
  text-align: center;
  text-shadow: 0 0 10px rgba(0,0,0,0.75);
}

.tripIndexItem-header {
  padding: 20px;
}

.tripIndexItem-footer {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 20px;
}