.Nav {
  background: $blue-primary;

  .container {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 0 20px;
  }
}

.Nav-logo {
  color: white;
  display: block;
  font-family: 'Pacifico', cursive;
  font-size: 32px;
  text-decoration: none;
  padding: 15px 0 25px;
}

.Nav-right {
  display: flex;
  align-items: center;
}

.Nav-link {
  color: white;
  font-size: 16px;
  font-weight: 900;
  text-decoration: none;
  margin-left: 10px;
  transition: 0.25s background;
  padding: 10px;
  border-radius: 10px;

  &.active {
    background: $blue-secondary;
  }

  &:hover {
    background: $blue-secondary;
  }
}

.Nav-link-sign-up {
  box-shadow: 0 5px 5px rgba(0,0,0,0.25);
  background: $green-primary;
  transition: 0.25s box-shadow, 0.25s background;

  &:hover {
    background: $green-secondary;
    box-shadow: 0 0 5px rgba(0,0,0,0.15);
  }
}

.Nav-user {
  display: flex;
  align-items: center;
  margin-left: 10px;
  color: white;
  font-weight: 900;
  position: relative;
  cursor: pointer;
  border-radius: 10px 10px 0 0;
  padding-left: 10px;
  border: 1px solid $blue-primary;

  &.open {
    border: 1px solid #ccc;
    background: white;
    color: $blue-primary;
  }
}

.Nav-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid white;
}

.Nav-dropdown {
  border-radius: 10px 0 10px 10px;
  position: absolute;
  right: -1px;
  top: 41px;
  background: white;
  z-index: 90;
  overflow: hidden;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

  li {
    border-bottom: 1px solid #ccc;

    &:last-of-type {
      border: none;
    }
  }
}

.Nav-dropdown-link {
  display: flex;
  padding: 20px 50px 20px 20px;
  font-size: 12px;
  cursor: pointer;
  transition: 0.25s color, 0.25s background;

  svg {
    display: inline-block;
    margin-right: 10px;
    color: $text-muted;
  }

  &:hover {
    background: $blue-primary;
    color: white;
    
    svg {
      color: $blue-secondary;
    }
  }
}