$blue: limegreen;
$orange: orange;

// badges
$badge-font-size: 10px;
$badge-padding: 10px;
$border-radius: 3px;

@mixin badge($background, $text) {
  border-radius: $border-radius;
  font-size: $badge-font-size;
  padding: $badge-padding;
  background: $background;
  display: inline-block;
  color: $text;
  box-shadow: 0 0 10px $background;

  svg {
    font-weight: 700;
    margin-right: 10px;
  }
}

@mixin box-shadow {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}