.tripIndex-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  > div {
    width: 33.3333%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.tripIndex-header-center {
  align-items: center;
  justify-content: flex-end;
}

.tripIndex-header-right {
  justify-content: flex-end;
}

.tripIndex-noResultsHeader {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.tripIndex-noResults-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
}

.tripIndex-noResults-subtitle {
  color: $text-muted;
}

.tripIndex-placeholder-cards {
  display: flex;
  justify-content: space-evenly;
}

.tripIndex-placeholder-card {
  @include card;
  @include card-padding;
  overflow: initial;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 35%;
  border-radius: 1px solid #efefef;
}

.tripIndex-placeholder-image {
  margin-bottom: $padding-main;
  max-width: 150px;
}

.tripIndex-placeholder-body {
  color: $text-muted;
  line-height: 1.5;
  margin-bottom: $padding-main;
  max-width: 225px;
}

.card-buttons {
  display: flex;
  justify-content: center;
}

.tripIndexItem-placeholder {
  text-align: center;
  font-size: 12px;
  flex-direction: column;
  color: $text-muted;

  img {
    width: 100px;
    margin-top: $padding-main;
  }
}

.tripIndex-header-left {
  align-items: flex-start;
}

.tripIndex-header-right {
  align-items: flex-end;
}

.tripIndex-ledByFilter-label {
  color: $text-muted;
  margin-bottom: 10px;
  font-size: 12px;

  svg {
    margin-right: 5px;
  }
}

.tripIndex-when-label {
  color: $text-muted;
  margin-bottom: 10px;
  font-size: 12px;

  svg {
    margin-left: 5px;
    margin-right: 0;
  }
}

.filter-buttons {
  background: white;
  border-radius: $border-radius;

  .button {
    margin: 0;
  }
}

.filter-active {
  background: #D6FF94;
  font-weight: 700;
  color: $green-primary;
}

.filter-button {
  padding: 5px 10px;
  font-size: 12px;
}