.tripIndexItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tripIndexItem {
  @include card;
  display: flex;
  border-bottom: 1px solid #efefef;
  border-right: 1px solid #efefef;
  width: 100%;
  margin-bottom: 20px;

  &:first-of-type {
    border-top: 1px solid #efefef;
  }

  .TripCoverPhoto {
    width: 50%;
    padding: $padding-half;
    min-height: initial;
    border-radius: $border-radius 0 0 $border-radius;
  }

  .TripDetail {
    width: 50%;
    padding: $padding-main;
  }
}

.tripIndexItem-location {
  font-size: 14px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;

  svg {
    font-size: 14px;
  }
}

.tripIndexItem-dates {
  color: $text-muted;
  font-size: 12px;
  margin-bottom: 20px;

  svg:nth-of-type(2) {
    display: inline-block;
    margin-left: 10px;
  }
}

.tripIndexItem-badges {
  margin-bottom: 20px;
}

.tripIndexItem-badge {
  display: inline-block;
}

.badge-blue {
  @include badge($blue-primary, $blue-primary);
}

.badge-red {
  @include badge($red-primary, $red-primary);
}

.badge-green {
  @include badge($green-primary, $green-primary);
}

.tripIndexItem-description {
  color: $text-muted;
  line-height: 1.5;
  margin-bottom: 20px;
}

.tripIndexItem-footer-left {
  display: flex;
  align-items: center;

  .Avatar {
    margin-right: 5px;
  }
}

.tripIndexItem-leader-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

.tripIndexItem-led-by {
  color: $text-muted;
  margin-left: 5px;
  font-size: 12px;
}

.tripIndexItem-led-by-user {
  color: $blue-primary;
}

.tripindexItem-footer {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.tripIndexItem-footer-right {
  display: flex;
  align-items: center;
}

.tripIndexItem-attendees {
  display: flex;
}

.tripIndexItem-attendee {
  margin-left: -15px;;
  display: flex;
  align-items: center;
}

.tripIndexItem-attendee-avatar {
  border: 3px solid white;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.tripIndexItem-others-count {
  color: $text-muted;
  margin-left: 5px;
}

.tripIndexItem-button-edit {
  margin-right: 5px;
  background: #A4CCFF;
  color: $blue-primary;
  font-weight: 400;
  padding: 9px 15px;

  &:hover {
    background: #A4CCFF;
  }
}