.TripCoverPhoto {
  background: #ccc;
  background-size: cover;
  border-radius: $border-radius;
  padding: 150px 0;
}

.TripCoverPhoto-title {
  @include text-shadow;
  color: white;
  font-size: 32px;
  font-weight: 900;
  text-align: center;
}