.TripCoverPhoto {
  background: #ccc;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 350px;
  flex-grow: 1;
}

.TripCoverPhoto-title {
  @include text-shadow;
  color: white;
  font-size: 24px;
  font-weight: 900;
  text-align: center;
}