.TripCoverPhoto {
  background: #ccc;
  background-size: cover;
  border-radius: $border-radius;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 250px;
}

.TripCoverPhoto-title {
  @include text-shadow;
  color: white;
  font-size: 32px;
  font-weight: 900;
  text-align: center;
}