.TripDetail {
  @include card-padding;
  display: flex;
}

.TripDetail-body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-line;
}