@import "bootstrap";

.sidebar {
  height: 100vh;
  position: fixed;
  background-color: #cecece;
}

.container.main {
  margin-top: 20px;
}

.card {
  margin-bottom: 20px;
}

.card-duration {
  font-size: 12px;
  position: absolute;
  bottom: 30px;
  left: 20px;
}

.card-thumb {
  float: left;
  height: 300px;
  margin-right: 40px;
}

.card-title {
  margin-bottom: 0;
}

.card-location {
  font-size: 12px;
}

.card-date {
  float: right;
  font-size: 12px;

  span {
    font-weight: 700;
  }
}

.card-body {
  padding: 0;
  position: relative;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0;
  left: 0;
  padding: 20px;

  p {
    margin-bottom: 0;
  }
}

.card-content {
  padding: 40px;
}

.card-creator {
  font-size: 14px !important;
  float: right;
  color: #bbb;

  a {
    color: #fff !important;
  }
}

.card-description {
  font-size: 14px;
}

.trip-show {
  text-align: center;
  color: #fff;

  h2 {
    font-size: 72px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }
}