.ItineraryItem {
  text-align: center;
  margin-bottom: 40px;
  margin: 0 20px;
  //border-top: 1px solid #ccc;
  //background: green;
  border-bottom: 1px solid #efefef;
  padding: 40px 0;
  border-radius: $border-radius;

  &:nth-of-type(1n) {
    border-radius: $border-radius 0 0 $border-radius;
  }

  &:nth-of-type(1n) {
    border-left: 1px solid #efefef;
  }

  &:nth-of-type(2n) {
    border-left: none;
    border-right: 1px solid #efefef;
    border-radius: 0 $border-radius $border-radius 0;
    //background: red;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.ItineraryItemPosition {
  display: inline-block;
  border-radius: 50%;
  background: $green-primary;
  color: white;
  font-weight: 900;
  padding: 5px 7px;
  font-size: 10px;
  margin-bottom: 40px;
}

.ItineraryItemTimes {
  font-size: 10px;
  color: $text-muted;
  margin-bottom: 10px;
}

.ItineraryItemDates {
  font-size: 16px;
  color: $text-muted;
  margin-bottom: 20px;
}

.ItineraryItemTitle {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 22px;
  font-weight: 900;
}

.ItineraryItemPhoto-container {
  height: 150px;
  display: flex;
  justify-content: center;
  background-position: center;
  background-size: cover;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: 900;
  margin: 0 -20px 40px;
}

.ItineraryItemDescription {
  font-size: 12px;
  line-height: 1.5;
  margin-top: 20px;
  margin-bottom: 40px;
  color: $text-muted;
}

.ItineraryItemAttachment-container {
  margin-top: 20px;
}

.ItineraryItemAttachment {
  background: $gray-background;
  border: none;
  border-radius: $border-radius;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0 5px 10px;
  font-size: 10px;
  display: inline-block;
}