.signUp-header {
  position: relative;
  text-align: center;
}

.signUp-title {
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 20px;
  margin-top: 20px;
}

.signUp-subtitle {
  color: $text-muted;
  margin-bottom: 100px;
}

.signUp-form-header {
  text-align: center;
}

.signUp-avatar {
  background: #dedede;
  border-radius: 50%;
  display: black;
  height: 150px;
  margin: -115px auto 20px;
  width: 150px;
}

.signUp-form {
  @include box-shadow;
  @include card-padding;
  background: white;
  border-radius: 10px;
  max-width: 450px;
  margin: 0 auto 50px;
}

.signUp-input {
  background: #efefef;
  border: none;
  border-radius: 10px;
  display: block;
  font-size: 16px;
  font-weight: 900;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 20px 20px 20px 10px;
  width: 100%;
  border-left: 10px solid #efefef;

  &:focus {
    outline: none;
    border-left: 10px solid $blue-primary;
  }

  &.half {
    width: 95%;
  }
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.signUp-footer {
  margin-bottom: -50px;
  margin-top: 40px;
  text-align: center;
}

.signUp-submit {
  background: $green-primary;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: -50px;
  padding: 15px 30px;
  cursor: pointer;
}

.form-label {
  font-size: 14px;
}