.signUp-header {
  position: relative;
  text-align: center;
}

.signUp-title {
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 20px;
  margin-top: 20px;
}

.signUp-subtitle {
  color: $text-muted;
  margin-bottom: 100px;
}

.signUp-form-header {
  text-align: center;
}

.signUp-avatar {
  background: #dedede;
  border-radius: 50%;
  display: black;
  height: 150px;
  margin: -115px auto 20px;
  width: 150px;
}

.signUp-footer {
  margin-bottom: -50px;
  margin-top: 40px;
  text-align: center;
}

.form-label {
  font-size: 14px;
}