@import "./base/variables";
@import "./base/reset";
@import "./base/mixins";
@import "./base/grid";
@import "./base/typography";

// shared
@import "./shared/buttons";
@import "./shared/Nav";
@import "./shared/forms";
@import "./shared/formErrors";
@import "./shared/navLoggedIn";
@import "./shared/Loader";
@import "./shared/Confirmation";
@import "./shared/CantSeeResourcesPlaceholder";

// pages
@import "./pages/ErrorPage";

// users
@import "./users/signUp";
@import "./users/Avatar";
@import "./users/userIndexItem";
@import "./users/UserLineItem";

// trips
@import "./trips/base";
@import "./trips/tripIndex";
@import "./trips/tripIndexItem";
@import "./trips/tripForm";
@import "./trips/show/tripShow";
@import "./trips/TripCoverPhoto";
@import "./trips/TripDetail.scss";
// - attendees
@import "./trips/show/Attendees";
// - converation
@import "./trips/show/MessageItem";

// itinerary
@import "./itinerary/ItineraryItem";

body {
  background: $gray-background;
  color: $text-primary;
}

.sidebar {
  height: 100vh;
  position: fixed;
  background-color: #cecece;
}

.container {
  position: relative;
}

.navbar {
  background-color: #fff;
}

.logo {
  margin-right: 20px;
}

.card {
  margin-bottom: 20px;
  border: 0;
}

.card-thumb {
  border-radius: 3px 0 0 3px;
  float: left;
  width: 50%;
  margin-right: $padding-main;
}

.card-title {
  margin-bottom: 0;
}

.card-body {
  padding: 0;
  position: relative;
}

.card-creator {
  float: right;
  color: #bbb;

  a {
    color: #fff !important;
  }
}

.loader {
  display: block;
  margin: 0 auto;
}

a {
	text-decoration: none;
  color: $text-primary;
}

* {
  box-sizing: border-box;
}

.svg-inline--fa {
  margin-right: 10px;
}