.button {
  border-radius: $border-radius;
  padding: 12px 15px;
  color: white;
  display: inline-block;
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: 0.25s background, 0.25s box-shadow;
  box-shadow: 0 3px 1px #ddd;

  svg,
  i {
    display: inline-block;
    margin-right: 5px;
  }

  &:nth-of-type(1n+2) {
    margin-left: 5px;
  }

  &:focus {
    outline: 0;
    border: 0;
  }
}

.button-heavy {
  font-weight: 900;
}

.button-gray {
  background: #ccc;
  box-shadow: 0 3px 1px #aaa;

  &:hover {
    background: #ddd;
  }
}

.button-green {
  background: $green-primary;
  box-shadow: 0 3px 1px $green-secondary;

  &:hover {
    background: #9BED0D;
  }
}

.button-red {
  background: $red-primary;
  box-shadow: 0 3px 1px $red-secondary;

  &:hover {
    background: #DD0F28;
  }
}

.button-white {
  background: white;
  color: $text-muted;
}

.button-blue {
  background: $blue-primary;
  box-shadow: 0 3px 1px $blue-secondary;

  &:hover {
    background: #0D7BFF;
  }
}