.button {
  border-radius: $border-radius;
  padding: 12px 15px;
  color: white;
  display: inline-block;
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: 0.25s background;

  svg,
  i {
    display: inline-block;
    margin-right: 5px;
  }

  &:nth-of-type(1n+2) {
    margin-left: 5px;
  }

  &:focus {
    outline: 0;
    border: 0;
  }
}

.button-small {
  padding: 8px 12px;
}

.button-heavy {
  font-weight: 900;
}

.button-gray {
  background: #ccc;

  &:hover {
    background: #ddd;
  }
}

.button-green {
  background: $green-primary;

  &:hover {
    background: #9BED0D;
  }
}

.button-red {
  background: $red-primary;

  &:hover {
    background: #DD0F28;
  }
}

.button-disabled {
  background: $gray-primary;
  color: white;
  cursor: default;
}

.button-white {
  background: white;
  color: $text-muted;
}

.button-blue {
  color: white;
  background: $blue-primary;

  &:hover {
    background: #0D7BFF;
  }
}