.CantSeeResourcesPlaceholder {
  padding: $padding-main;
  text-align: center;
  border: 1px solid #efefef;
  border-radius: $border-radius;

  h4 {
    margin-bottom: 20px;
    font-weight: 700;
  }

  p {
    color: $text-muted;
    font-size: 14px;

    span {
      font-weight: 700;
    }
  }
}