.form-header {
  margin-top: 20px;
  margin-bottom: $padding-main;
  text-align: center;
}

.form-title {
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 20px;
}

.form-subtitle {
  color: $text-muted;
  margin-bottom: $padding-main;
}

.form {
  @include card;
  @include card-padding;
  overflow: initial;
  display: block;
  margin: 0 auto 50px;
  max-width: 400px;
}

.form-errors {
  padding: 0;
  margin-bottom: $padding-main;
}

.form-error {
  background: $red-primary;
  border-left: 5px solid $red-primary;
  border-radius: $border-radius;
  padding: 10px;
  color: white;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 900;
}

.form-label {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;

  span {
    font-weight: 900;
  }
}

.form-sublabel {
  display: block;
  font-size: 12px;
  color: $text-muted;
  margin-bottom: 10px;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.button-row {
  display: flex;
  justify-content: flex-start;
  margin-bottom: $padding-main;

  .form-button {
    margin-right: 10px;
  }
}

.form-input {
  display: block;
  border-radius: $border-radius;
  border: 1px solid #efefef;
  outline: none;
  padding: 20px;
  font-size: 16px;
  width: 100%;
  margin-bottom: $padding-main;
  max-width: 100%;

  &:focus {
    border: 1px solid #efefef;
  }
}

.form-textarea {
  min-height: 150px;
  min-width: 100%;
}

.form-footer {
  margin-top: $padding-main;
  text-align: center;
}

.form-buttons {
  display: flex;
  justify-content: space-around;
}

.form-submit-primary {
  width: 100%;
}

.form-button {
  flex-grow: 1;
}

.form-signUp {
  margin-top: 100px;
}

button:disabled {
  cursor: default;
}