.Loader {
  text-align: center;
  color: $text-muted;
  font-size: 14px;
  margin-top: $padding-main;
}

.Loader-spinner {
  display: inline-block;
  font-size: 32px;
  margin-bottom: $padding-half;
}